h1 {
    font-weight: bold;
    font-style: oblique;
    color: blueviolet;
}

p {
    font-size: medium;
    font-style: italic;
    color: darkslategray;
}

.highlight {
    font-weight: bold;
}

.branching {
    font-style: oblique;
    color: darkred;
}